{% extends "calculator/base.html" %}

{% block title %}IP Calculator{% endblock title %}

{% block content %}

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <span class="container navbar-text text-center">
            <h3>IP Calculator by Thiago Jack</h3>
            <a class="github-button" href="https://github.com/thiagoojack" data-color-scheme="no-preference: light; light: light; dark: dark;" aria-label="Follow @thiagoojack on GitHub">Follow @buttons</a>
            <a class="github-button" href="https://github.com/thiagoojack/ip-calculator" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" aria-label="Star thiagoojack/ip-calculator on GitHub">Star</a>
            <a class="github-button" href="https://github.com/thiagoojack/ip-calculator/issues" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-issue-opened" aria-label="Issue thiagoojack/ip-calculator on GitHub">Issue</a>
        </span>
    </div>
</nav>
<ul class="nav justify-content-center bg-dark border-bottom border-body" data-bs-theme="dark">
    <li class="nav-item">
      <a class="nav-link" href="https://tjota.blog/">My blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://mastodon.social/@thiagoojack">Mastondon</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/thiagoojack">Github</a>
    </li>
</ul>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 p-4">
            <form method="GET" action="{% url 'calculator:calculate_ip' %}">
                <div class="input-group input-group mb-3">
                    <input type="text" id="ip_with_mask" class="form-control" name="ip_with_mask"
                        placeholder="IP with Netmask or CIDR" aria-label="IP with Netmask or CIDR"
                        aria-describedby="calculate-button" required>
                    <input type="submit" class="btn btn-success" id="calculate-button" value="Calculate">
                </div>

                {% if netinfo is empty %}
                <div class="alert alert-info" role="alert">
                    192.168.0.28 255.255.255.0 <strong>or</strong> 192.168.0.28/24
                </div>

                {% else %}
                <div class="table-responsive">
                    <code>
                        <table class="table table-sm table-striped" style="font-family: 'Courier New'">
                            <tbody>
                                {% for key, value in netinfo.items %}
                                    {% if value is not None %}
                                        <tr>
                                           <td><strong>{{ key }}:</strong></td>
                                            {% if key == 'Special address' %}
                                               <td style="color: darkred;">{{ value }}</td>
                                            {% else %}
                                               <td>{{ value }}</td>
                                            {% endif %}
                                        </tr>                                           
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </code>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock content %}