{% extends "calculator/base.html" %}

{% block title %}IP Calculator{% endblock title %}

{% block content %}

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <span class="container navbar-text text-center">
            <h3>CETEP - Calculadora IP</h3>
            <a class="github-button" href="https://github.com/cetep-joao-campos" data-color-scheme="no-preference: light; light: light; dark: dark;" aria-label="Follow @thiagoojack on GitHub">Siga @cetep-joao-campos</a>
            <a class="github-button" href="https://github.com/cetep-joao-campos/web-ip-calculator" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" aria-label="Star thiagoojack/ip-calculator on GitHub">Star</a>
            <a class="github-button" href="https://github.com/cetep-joao-campos/web-ip-calculator/issues" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-issue-opened" aria-label="Issue thiagoojack/ip-calculator on GitHub">Issue</a>
        </span>
    </div>
</nav>
<ul class="nav justify-content-center bg-dark border-bottom border-body" data-bs-theme="dark">
    <li class="nav-item">
      <a class="nav-link" href="https://www.instagram.com/cetepjoaocampos_">Instagram</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/cetep-joao-campos">Github</a>
    </li>
</ul>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 p-4">
            <form method="GET" action="{% url 'calculator:calculate_ip' %}">
                <div class="input-group input-group mb-3">
                    <input type="text" id="ip_with_mask" class="form-control" name="ip_with_mask"
                        placeholder="Insira o endereço IPv4 ou IPv6 com máscara ou CIDR" aria-label="IP with Netmask or CIDR"
                        aria-describedby="calculate-button" required>
                    <input type="submit" class="btn btn-success" id="calculate-button" value="Calcular">
                </div>

                {% if netinfo is empty %}
                <div class="alert alert-info" role="alert">
                    <p><strong>Exemplo IPv4:</strong> 172.16.0.19/16 ou 172.16.0.19 255.255.0.0</p>
                    <strong>Exemplo IPv6:</strong> Abreviado 2001:0db8::b1/42 ou completo 2001:0db8:0000:0000:0000:0000:0000:00b1
                </div>

                {% else %}
                <div class="table-responsive">
                    <code>
                        <table class="table table-sm table-striped" style="font-family: 'Courier New'">
                            <tbody>
                                {% for key, value in netinfo.items %}
                                    {% if value is not None %}
                                        <tr>
                                           <td><strong>{{ key }}:</strong></td>
                                            {% if key == 'Special address' %}
                                               <td style="color: darkred;">{{ value }}</td>
                                            {% else %}
                                               <td>{{ value }}</td>
                                            {% endif %}
                                        </tr>                                           
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </code>
                </div>
                {% endif %}
                <a href="/" class="btn btn-secondary">Limpar resultado</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
